@font-face {
    font-family: 'Raleway';
    src: url(https://fonts.googleapis.com/css?family=Raleway);
}

@font-face {
    font-family: 'Open Sans';
    src: url(https://fonts.googleapis.com/css?family=Open+Sans);
}

html {
    font-size: 10px;
}

body {
    font-family: Open Sans;
    padding: 0;
    color: #423D3C;
    padding-top: 60px;
}


h2 {
    font-size: 4.0rem;
    margin-bottom: 0px;
    font-family: Raleway;
}

h3 {
    font-size: 3.0rem;
    font-family: Raleway;
}

h4 {
    font-size: 2.4rem;
    font-family: Raleway;
}

h5 {
    font-size: 2.0rem;
}

span, p {
    font-size: 2.4rem;
}

.p0 {
    padding: 0;
}

.img-block {
    margin-left: 8.333333%;
    display: inline-block;
}

/*navbar*/
.social-icons {
    padding: 0 5px;
}

    .social-icons:hover {
        color: #4D66AB;
    }




nav {
    height: 80px;
    line-height: 80px;
    top: 0;
    position: fixed;
    background: #ffffff;
    width: 100%;
    z-index: 999;
}

.menu {
    list-style-type: none;
}

    .menu li {
        display: inline-block;
        padding: 0 15px;
    }

        .menu li a {
            font-size: 1.6rem;
            font-family: Raleway;
            color: rgba(65, 60, 59, 0.8);
        }

            .menu li a:hover,
            .menu li a:focus {
                text-decoration: none;
                color: rgba(0, 0, 0, 1);
            }

.logo {
    padding: 0 0 0 20px !important;
    line-height: 80px;
}

.dropdown-caret {
    color: #000000;
    padding-bottom: 15px;
    border-top-width: 7px;
    border-right-width: 7px;
    border-left-width: 7px;
}

.link-dropdown {
    background-color: #ffffff !important;
    color: #000307;
}

    .link-dropdown:hover {
        color: #C05C4A !important;
    }

    .link-dropdown:active {
        outline: none;
    }

    .link-dropdown:focus {
        outline: none !important;
        color: #F05030 !important;
    }

.dropdown-li {
    padding: 20px 0 !important;
    font-size: 1.6rem !important;
    border: none !important;
    border: none !important;
    border-radius: 0 !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    min-width: 305px !important;
}

.logo-main {
    background: url("content/img/imaguruLogo.svg");
    fill: rgba(0, 0, 0, 1);
    width: 80%;
}

.navbar-color {
    background-color: #ffffff !important;
    color: #282D31 !important;
    border: none !important;
    outline: none !important;
}

.img-block {
    height: 60px;
    width: 200px;
    display: inline-block !important;
}

.img-logo {
    height: 60px;
    width: 180px;
    display: inline-block !important;
}

.active-nav a:hover {
    color: #D65E46 !important;
}

.active-navbar-right a:hover {
    color: #282D31 !important;
}

.about {
    padding: 0;
    color: #ffffff;
    min-height: 780px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.7)50%, rgba(0, 0, 0, 0.9) 100%);
}

.main-page {
    background-image: url(../img/hero-100.jpg);
    background-size: cover;
}

.achievement {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    box-sizing: border-box;
    position: relative;
    padding: 0 1rem;
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.caption-for-about {
    color: #ffffff;
    padding: 90px 0px 50px 0px;
}

.flex-style {
    display: flex;
    min-height: 100%;
    flex-direction: column;
}


.description-of-statistics {
    font-size: 2.4rem;
    position: absolute;
    top: 3.11em;
    right: 0;
    padding-right: 1.5rem;
    line-height: 1.3;
    font-weight: 300;
    max-width: 12em;
}

.statistics {
    font-family: 'Open Sans', sans-serif;
    font-size: 16.0rem;
    color: rgba(240, 80, 48, 0.6);
    font-weight: 800;
}

/*COWORKING PRISE*/

.coworking {
    color: #423D3C;
}

.plans {
    color: #423D3C;
    min-height: 440px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.content-for-residency {
    margin: 25px 0px 25px 0px;
}

.view-button {
    height: 50px;
    width: 180px;
    border: 3px solid #F05030;
    color: #F05030;
    font-size: 1.6rem;
    background-color: #ffffff;
}

    .view-button:hover {
        color: #ffffff;
        font-size: 1.6rem;
        background-color: #F05030;
        outline: none;
    }

    .view-button:focus {
        color: #ffffff;
        font-size: 1.6rem;
        background-color: #F05030;
        outline: none !important;
    }

.name-type {
    color: #F05030;
    font-weight: 800;
}

.price-type {
    font-family: Open Sans;
    color: #413C3B;
    padding-top: 30px;
    padding-bottom: 55px;
}

.coworking ul li {
    font-size: 2.0rem;
    list-style-type: none;
    margin-bottom: 16px;
}


/* IT SERVICE */
.services {
    background-color: #4665BB;
}


.service-description {
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.site-description {
    min-height: 400px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.services h2 {
    color: #ffffff;
}

.services h4 {
    color: #ffffff;
}

.services-right-span {
    color: #ffffff;
    margin: 25px 0px 25px 0px;
}

.button-services {
    height: 50px;
    width: 180px;
    border: 3px solid #ffffff;
    color: #ffffff;
    font-size: 1.6rem;
    background-color: #4665BB;
}

    .button-services:hover {
        color: #4665BB;
        font-size: 1.6rem;
        background-color: #ffffff;
        outline: none;
    }

    .button-services:focus {
        color: #4665BB;
        font-size: 1.6rem;
        background-color: #ffffff;
        outline: none !important;
    }

.services-left-span {
    font-family: Open Sans;
    font-size: 2.2rem;
    color: #ffffff;
    margin-bottom: 50px;
}

.services-img {
    height: 120px;
    width: 120px;
    margin-top: 15px;
}

/* CORPORATE INNOVATION */

.corporate-innovation-page {
    background-image: url(../img/innovation-100.jpg);
    background-size: cover;
}

.corporate-innovation-description {
    min-height: 700px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.corporate-innovation {
    padding: 0;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 1) 100%);
}

    .corporate-innovation h2 {
        color: #ffffff;
        margin-bottom: 16%;
    }

.list-innovation {
    font-size: 2.2rem;
    list-style-type: none;
    color: #ffffff;
    border-bottom: none !important;
}

    .list-innovation li {
        margin: 20px;
    }

    .list-innovation a {
        color: rgba(255, 255, 255, 0.5);
        text-decoration: none;
    }

        .list-innovation a:hover {
            color: rgba(255, 255, 255, 0.8);
        }


        .list-innovation a:focus {
            color: rgba(255, 255, 255, 1);
        }

.innovation-description {
    color: #ffffff;
}



.imaguru-is-page {
    min-height: 460px;
}

    .imaguru-is-page > .container-fluid > .row {
        height: 100%;
    }

.imaguru-content-left {
    color: #433E3D;
    background-color: #ffffff;
    min-height: 460px;
}

.imaguru-is {
    height: 460px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
}

/*.imaguru-is > p {
        margin: 10% 0% 20% 0%;
        width: 100%;
    }*/



.imaguru-content-right {
    width: 100%;
}

.content-img-right {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}


/* PUSH THE BUTTON */
.push {
    background-color: #F05030;
    min-height: 160px;
}

/*.push > .container-fluid {
        padding: 0px;
    }*/

.field {
    background-color: #F05030;
    min-height: 160px;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.push-field > h2 {
    margin: 0px;
}

.field {
    position: relative;
}

.cowork-with-us-button {
    height: 50px;
    width: 180px;
    border: 3px solid #ffffff;
    color: #ffffff;
    font-size: 1.6rem;
    background-color: #F05030;
}

    .cowork-with-us-button:hover {
        background-color: #ffffff;
        color: #F05030;
        font-size: 1.6rem;
        outline: none;
    }

    .cowork-with-us-button:focus {
        background-color: #ffffff;
        color: #F05030;
        outline: none !important;
    }

ul {
    margin-left: 0;
    padding-left: 0;
}

.news > div > div {
    position: relative;
}

.news > .row > div {
    min-height: 420px;
}

.img-news-blog {
    background-image: url(../img/blog-100.jpg);
    background-size: cover;
}

.img-news-event {
    background-image: url(../img/event.jpg);
    background-size: cover;
}

.blog-filter {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    filter: opacity(60%);
}

.img-blog {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70%;
    transform: translate(-50%, -50%);
}

/* SUCCES STORY */

.succes {
    height: 460px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.succes-left {
    height: 460px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}


.img-width {
    max-width: 30%;
}

.align-li {
    height: 117px;
}

.margin {
    margin-top: 15px;
}

.succes-left > div > h2 {
    margin-bottom: 12%;
}

.indicator-list {
    display: block !important;
    background-color: rgba(208, 81, 53, 0.5) !important;
    color: rgba(208, 81, 53, 0.8);
}

.indicators > .active {
    background-color: rgba(208, 81, 53, 1) !important;
}



/* SUBSCRIBLE TO OUR NEWS */

.subscribe {
    padding-bottom: 0px;
    margin-bottom: 0px;
}

    .subscribe > div {
        min-height: 260px;
    }

.subscribe-news {
    color: #ffffff;
    background-color: #F05030;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.button-subscribe {
    height: 50px;
    width: 160px;
    border: 3px solid #ffffff;
    color: #ffffff;
    font-size: 1.6rem;
    background-color: #F05030;
}

    .button-subscribe:hover {
        background-color: #ffffff;
        color: #F05030;
        font-size: 1.6rem;
        outline: none;
    }

    .button-subscribe:focus {
        background-color: #ffffff;
        color: #F05030;
        outline: none !important;
    }

.social-networks {
    background-color: #4665BB;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.social-list li {
    display: inline;
    list-style-type: none;
}

.social {
    font-size: 3.0rem;
    margin: 30px 40px 0px 0px;
    color: rgba(255, 255, 255, 0.5);
}

    .social:hover {
        color: #ffffff;
    }



.feedback-form > .container-fluid > .row {
    display: flex;
    align-items: stretch;
}

    .feedback-form > .container-fluid > .row > div {
        min-height: 440px;
    }

.keep-in-touch {
    display: flex;
    justify-content: space-between;
    align-items: center;
}




.btn-send {
    height: 50px;
    width: 160px;
    border: 3px solid #F05030;
    color: #F05030;
    font-size: 1.6rem;
    background-color: #ffffff;
    margin-top: 30px;
}


    .btn-send:hover {
        background-color: #F05030;
        border: 3px solid #F05030;
        color: #ffffff;
        outline: none;
    }

    .btn-send:focus {
        background-color: #F05030;
        border: 3px solid #F05030;
        color: #ffffff;
        outline: none !important;
    }

.feedback-input {
    width: 250%;
    margin-top: 15%;
    display: block;
    background: transparent;
    border: 0;
    border-bottom: 2px solid #E0E1E2;
}

    .feedback-input:focus {
        border: 0;
        border-bottom: 2px solid #E0E1E2;
        outline: none;
    }

    .feedback-input::placeholder {
        color: rgba(67, 62, 61, 0.6);
        font-size: 1.6rem;
    }




.footer {
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
    background-color: #161718;
    color: #ffffff;
}

.footer-menu {
    list-style-type: none;
    margin-bottom: 0px;
}

    .footer-menu > li {
        display: inline;
        padding-left: 25px;
    }

.logo-icon {
    background: url("content/img/imaguruLogo.svg");
    fill: #FFFFFF;
    width: 73%;
}

.footer p {
    font-size: 2.0rem;
}


.footer a {
    text-decoration: none;
    color: #ffffff;
}

.copyrighted {
    color: #4B4B4B;
    margin-top: 20px;
}

.phone {
    display: inline-block;
}

.email {
    display: inline-block;
    padding-left: 10px;
}

.align {
    display: flex;
    align-items: flex-end;
}

.trasperent-input {
    background: transparent;
    border: 0;
    border-bottom: 1px solid white;
    width: 270px;
    margin: 20px 70px 20px 0px;
}

    .trasperent-input:focus {
        border: 0;
        border-bottom: 1px solid white;
        outline: none;
    }

    .trasperent-input::placeholder {
        color: white;
        font-size: 1.6rem;
    }


.address {
    padding-bottom: 10px;
    padding-top: 20px;
}



@media (min-width: 1200px) {
    .width-logo {
        width: 25%;
    }
}

@media (max-width: 1200px) {

    .menu li {
        padding: 0 5px;
    }
}


@media screen and (min-width: 768px) and (max-width : 992px) {
    .feedback-form > .container-fluid > .row {
        flex-direction: column;
    }

        .feedback-form > .container-fluid > .row #map {
            height: 100%;
        }

    nav {
        height: 60px;
        line-height: 60px;
    }

    .logo {
        width: 220px;
    }

    .menu-btn {
        height: 40px;
        width: 40px;
        font-size: 3.0rem;
        padding: 0 !important;
    }

    #top-menu {
        background-color: #fff;
        z-index: 100;
        width: 100%;
    }

    .menu li a {
        font-size: 1.3rem;
        line-height: 85px;
    }

    .succes {
        padding: 60px;
    }

    .cowork-with-us-button {
        margin-right: 20px;
    }

    .push-field {
        margin-left: 20px;
    }
}


@media screen and (min-width: 320px) and (max-width : 767px) {
    nav {
        height: 60px;
        line-height: 60px;
    }

    .logo {
        padding-top: 7%;
        width: 240px;
    }

    .menu-btn {
        height: 40px;
        width: 40px;
        font-size: 3.0rem;
        padding: 0 !important;
    }

    #top-menu {
        background-color: #fff;
        z-index: 100;
        position: absolute;
        width: 100%;
    }

    .menu li {
        display: block;
    }

    .menu-btn i {
        font-size: 3.0rem;
    }

    .cowork-with-us-button {
        margin-right: 20px;
    }

    .push-field {
        margin-left: 20px;
    }
}



@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .service-description {
        height: 400px;
    }

    .services-right-span {
        width: 100%;
    }

    .logo {
        padding: 10px 0 0 20px !important;
    }

    .plans {
        height: 440px;
        display: flex;
        justify-content: space-around;
    }

    .content-for-residency {
        width: 100%;
    }

    .corporate-innovation-description {
        height: 700px;
    }

        .corporate-innovation-description > div {
            width: 100%;
        }

    .imaguru-is > p {
        width: 100%;
    }

    .field {
        height: 160px;
    }

    .site-description {
        height: 400px;
    }
}





/*STYLE fOR PAGE*/
.site-section {
    /*background-color: #191919;*/
    position: relative;
    z-index: 2;
}

.main-screen {
    position: relative;
    min-height: 100vh;
}

    .main-screen .section-container {
        box-sizing: border-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-pack: center;
        justify-content: center;
        max-width: 1360px;
        min-height: 100vh;
        padding-top: 6rem;
        padding-bottom: 10rem;
    }

.section-container {
    max-width: 1120px;
    margin: 0 auto;
    position: relative;
    padding: 1px 3rem;
    z-index: 2;
    color: #fff;
}

.main-screen .content {
    max-width: 1090px;
    margin: 0 auto;
    padding: 8rem 1.5rem 3rem;
    margin-bottom: 4rem;
}

    .main-screen .content h3 {
        max-width: 85rem;
        font-size: 3em;
        margin: 0 auto;
        margin-bottom: 2rem;
    }

    .main-screen .content h3 {
        max-width: 85rem;
        font-size: 3em;
        margin: 0 auto;
        margin-bottom: 2rem;
    }

    .main-screen .content h3, .main-screen .content p {
        color: #fff;
        text-align: center;
    }

.achievements {
    color: #fff;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 2rem 3rem;
    max-width: 960px;
    margin: 0 auto;
}


.achievement {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    box-sizing: border-box;
    position: relative;
    padding: 0 1rem;
    font-size: 1rem;
    margin-bottom: 2rem;
}

.achievement__count {
    font-family: 'Open Sans', sans-serif;
    font-size: 16.0rem;
    color: rgba(240, 80, 48, 0.6);
    line-height: 1.2;
    font-weight: 800;
}

.achievement__text {
    position: absolute;
    top: 2.8em;
    right: 0;
    padding-right: 1.5rem;
    line-height: 1.3;
    font-size: 2.4rem;
    font-weight: 300;
    max-width: 12em;
}
